<div id="<%= dom_id campyear %>">
  <p style="font-weight: bold; font-size: 1.5rem; line-height: 2rem; color: var(--black);">
    <%= campyear.year %>
  </p>

  <p>
    <strong>Participants register start:</strong>
    <%= campyear.participants_register_start %>
  </p>

  <p>
    <strong>Participants register end:</strong>
    <%= campyear.participants_register_end %>
  </p>

  <p>
    <strong>Helper register start:</strong>
    <%= campyear.helper_register_start %>
  </p>

  <p>
    <strong>Helper register end:</strong>
    <%= campyear.helper_register_end %>
  </p>

  <p style="color: <%= campyear.accentcolor_primary%>">
    <strong>Accentcolor primary:</strong>
    <%= campyear.accentcolor_primary %>
  </p>

  <p style="color: <%= campyear.accentcolor_secondary%>">
    <strong>Accentcolor secondary:</strong>
    <%= campyear.accentcolor_secondary %>
  </p>

</div>
