<div id="<%= dom_id campyear %>">
  <h2>
    <%= campyear.year %>
  </h2>

  <table style="text-align: left;">
    <tr>
      <th><%= Campyear.human_attribute_name :helper_register_start %></th>
      <td><%= l campyear.helper_register_start %></td>
    </tr>
    <tr>
      <th><%= Campyear.human_attribute_name :helper_register_end %></th>
      <td><%= l campyear.helper_register_end %></td>
    </tr>
    <tr>
      <th><%= Campyear.human_attribute_name :members_only_start %></th>
      <td><%= l campyear.members_only_start %></td>
    </tr>
    <tr>
      <th><%= Campyear.human_attribute_name :participants_register_start %></th>
      <td><%= l campyear.participants_register_start %></td>
    </tr>
    <tr>
      <th><%= Campyear.human_attribute_name :participants_register_end %></th>
      <td><%= l campyear.participants_register_end %></td>
    </tr>
  </table>

<!--  <p style="color: <%#= campyear.accentcolor_primary%>">-->
<!--    <strong>Akzentfarbe Primär:</strong>-->
    <%#= campyear.accentcolor_primary %>
<!--  </p>-->

<!--  <p style="color: <%#= campyear.accentcolor_secondary%>">-->
<!--    <strong>Akzentfarbe Sekundär:</strong>-->
    <%#= campyear.accentcolor_secondary %>
<!--  </p>-->
</div>
