<div id="<%= dom_id campyear %>">
  <p style="font-weight: bold; font-size: 1.5rem; line-height: 2rem; color: var(--black);">
    <%= campyear.year %>
  </p>

  <p>
    <strong>Teilnehmer anmeldestart (Mitglieder):</strong>
    <%= campyear.members_only_start %>
  </p>

  <p>
    <strong>Teilnehmer anmeldestart (Alle):</strong>
    <%= campyear.participants_register_start %>
  </p>

  <p>
    <strong>Teilnehmer anmeldeschluss:</strong>
    <%= campyear.participants_register_end %>
  </p>

  <p>
    <strong>Helfer anmeldestart:</strong>
    <%= campyear.helper_register_start %>
  </p>

  <p>
    <strong>Helfer anmeldeschluss:</strong>
    <%= campyear.helper_register_end %>
  </p>

  <p style="color: <%= campyear.accentcolor_primary%>">
    <strong>Akzentfarbe Primär:</strong>
    <%= campyear.accentcolor_primary %>
  </p>

  <p style="color: <%= campyear.accentcolor_secondary%>">
    <strong>Akzentfarbe Sekundär:</strong>
    <%= campyear.accentcolor_secondary %>
  </p>

</div>
