<%= form_with(model: campyear) do |form| %>
  <% if campyear.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(campyear.errors.count, "error") %> prohibited this campyear from being saved:</h2>

      <ul>
        <% campyear.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input">
    <%= form.label :year, "Jahr: ", style: "display: block" %>
    <%= form.number_field :year %>
  </div>

  <div class="input">
    <%= form.label :members_only_start, "Teilnehmer Anmeldedatum start (Mitglieder):", style: "display: block" %>
    <%= form.date_field :members_only_start %>
  </div>

  <div class="input">
    <%= form.label :participants_register_start, "Teilnehmer Anmeldedatum start (Alle):", style: "display: block" %>
    <%= form.date_field :participants_register_start %>
  </div>

  <div class="input">
    <%= form.label :participants_register_end, "Teilnehmer Anmeldedatum ende:", style: "display: block" %>
    <%= form.date_field :participants_register_end %>
  </div>

  <div class="input">
    <%= form.label :helper_register_start, "Helfer Anmeldedatum start:", style: "display: block" %>
    <%= form.date_field :helper_register_start %>
  </div>

  <div class="input">
    <%= form.label :helper_register_end, "Helfer Anmeldedatum ende:", style: "display: block" %>
    <%= form.date_field :helper_register_end %>
  </div>

  <div class="input">
    <%= form.label :accentcolor_primary, "Akzentfarbe primär:", style: "display: block" %>
    <%= form.color_field :accentcolor_primary %>
  </div>

  <div class="input">
    <%= form.label :accentcolor_secondary, "Akzentfarbe sekundär:", style: "display: block" %>
    <%= form.color_field :accentcolor_secondary %>
  </div>

  <div class="submit">
    <%= form.submit %>
  </div>
<% end %>
