<%= render @campyear %>

<div>
  <% @camps.each do |camp| %>
    <br />
    <br />
    <%# todo: link with a button to create new camp for this campyear %>
    <%= link_to("Camp: " + camp.participants_year_start.to_s + " - " + camp.participants_year_end.to_s,  camp_path(camp)) %>
    <%= render camp %>
  <% end %>
</div>

<div>
  <br>
  <%= link_to "Erstellen eines Campjahrs", new_camp_path(campyear: @campyear.id) %>
  <br>
  <br>

  <%= link_to "Ändern des Campjahrs", edit_campyear_path(@campyear) %> |
  <%= link_to "Zurück zu allen Campjahren", campyears_path %>

  <%= button_to "Löschen des Campjahrs", @campyear, method: :delete, form: { data: { 'turbo_confirm': 'Sicher, dass das Campjahr gelöscht werden soll?' } } %>
</div>
