<%= form_with(model: message) do |form| %>
  <% if message.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
        <% message.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <label for="message_name" class="form-label fw-bold">Name</label>
    <input id="message_name" name="message[name]" type="text" class="form-control" placeholder="Name hier eingeben" required />
  </div>

  <div class="mb-3">
    <label for="message_email" class="form-label fw-bold">Email</label>
    <input id="message_email" name="message[email]" type="email" class="form-control" placeholder="Email hier eingeben" required />
  </div>

  <div class="mb-3">
    <label for="message_message" class="form-label fw-bold">Nachricht</label>
    <textarea id="message_message" name="message[message]" class="form-control" placeholder="Nachricht hier eingeben" rows="5" required></textarea>
  </div>

  <% if @message.id %>
  <div>
    <%= form.label :read, style: "display: block" %>
    <%= form.check_box :read %>
  </div>
  <% end %>

  <button class="btn btn-primary" type="submit">Absenden</button>
<% end %>
