<div>
  <%= render_breadcrumbs %>
</div>

<h1>Children#index</h1>

<%= form_with url: children_path, method: :get do |form| %>
  <label for="year">Campjahr</label>
  <select name="year" onchange="this.parentNode.requestSubmit()">
    <% @campyears.each do |campyear| %>
      <option <%= 'selected' if @year == campyear %> value="<%= campyear %>">
        <%= campyear %>
      </option>
    <% end %>
  </select>
<% end %>
<br>

<%= link_to new_child_path, class: '--bordered' do %>
  <%= forticon 'user-plus', height: 18, style: "margin-right: var(--spacing-sm)" %>
  Kind hinzufügen
<% end %>
<br>
<%= link_to excel_children_path(format: "xlsx"), class: '--bordered' do %>
  <%= forticon 'file-excel', height: 18, style: "margin-right: var(--spacing-sm); color: green" %>
  Anmeldeliste als Excel herunterladen
<% end %>

<br>

<ul>
    <% @children.each do |c| %>
        <%= link_to (c.surname + ', ' + c.forename), child_path(c) %>
        <li></li>
    <% end %>
</ul>
