<h1>Kinderanmeldung</h1>

<h2>Kinderinformationen</h2>

<%= render 'children/child_registration_step', steps: 5, current_step: 4 %>

<%= form_with model: @child do |form| %>
  <%# Camp %>
  <div>
    <table class="camp-info-table camp-info-table--desktop">
      <tr>
        <th>Name</th>
        <th>Jahrgänge</th>
        <th>Datum von</th>
        <th>Datum bis</th>
      </tr>
      <% @camps.each do |camp| %>
        <tr>
          <td>Camp <%= camp.name %></td>
          <td><%= camp.participants_year_start %> - <%= camp.participants_year_end %></td>
          <td><%= l camp.date_start %></td>
          <td><%= l camp.date_end %></td>
        </tr>
      <% end %>
    </table>

    <table class="camp-info-table camp-info-table--mobile">
      <tr>
        <th>Name</th>
        <% @camps.each do |camp| %>
          <td>Camp <%= camp.name %></td>
        <% end %>
      </tr>
      <tr>
        <th>Jahr-<br>gänge</th>
        <% @camps.each do |camp| %>
          <td><%= camp.participants_year_start %> - <%= camp.participants_year_end %></td>
        <% end %>
      </tr>
      <tr>
        <th>Von</th>
        <% @camps.each do |camp| %>
          <td><%= l camp.date_start %></td>
        <% end %>
      </tr>
      <tr>
        <th>Bis</th>
        <% @camps.each do |camp| %>
          <td><%= l camp.date_end %></td>
        <% end %>
      </tr>
    </table>
    <br>
    <br>

    <span style="display: block;">Camp *</span>
    <div class="<%= class_names('radio-group', 'radio-group--error': @child.errors['camp_id'].any?) %>"
         style="margin-top: var(--spacing-sm);">

      <% @camps.each do |camp| %>
        <label class="radio-group__button">
          <input class="radio-group__input"
                 type=radio
                 name="child[camp_id]"
                 <%= camp.full? ? 'disabled' : '' %>
                 value="<%= camp.id %>" <%= 'checked' if @child.camp_id == camp.id %>>

          <span class="<%= class_names('radio-group__label', 'radio-group__label--disabled': camp.full?) %>">
            Camp <%= camp.name %>
            <br>
            <% if camp.full? %>
              (voll)
            <% else  %>
              <%= camp.participants_year_start %> - <%= camp.participants_year_end %>
            <% end %>
          </span>

        </label>
      <% end %>

    </div>
    <%= render 'formelements/errormsg', record: @child, field: 'camp' %>
  </div>

  <fieldset class="input">
    <legend>
      <%= forticon :user, height: 18, style: 'margin-right: var(--spacing-sm)' %>
      Kind <%= @child_num + 1 %>
    </legend>

    <%# Surname %>
    <%= render 'formelements/input', form: form, record: @child,
                field_name: :surname, label: 'Nachname', required: true %>

    <%# Forename %>
    <%= render 'formelements/input', form: form, record: @child,
                field_name: :forename, label: 'Vorname', required: true %>

    <%# Birthday %>
    <%= render 'formelements/input', form: form, record: @child,
                field_name: :birthday, input_type: :date, label: 'Geburtsdatum', required: true %>

    <%# Sex %>
    <div>
      <span style="display: block;">Geschlecht *</span>
      <div class="<%= class_names('radio-group', 'radio-group--error': @child.errors['sex'].any?) %>"
           style="margin-top: var(--spacing-sm);">
        <label class="radio-group__button">
          <input class="radio-group__input" type=radio name="child[sex]"
                 value="Junge" <%= 'checked' if @child.sex == 'Junge' %>>
          <span class="radio-group__label radio-group__label--blue">Junge</span>
        </label>

        <label class="radio-group__button">
          <input class="radio-group__input" type=radio  name="child[sex]"
                 value="Mädchen" <%= 'checked' if @child.sex == 'Mädchen' %>>
          <span class="radio-group__label radio-group__label--red">Mädchen</span>
        </label>
      </div>
      <%= render 'formelements/errormsg', record: @child, field: 'sex' %>
    </div>
  </fieldset>

  <fieldset class="input">
    <legend>
      <%= forticon :clipboard, height: 18, style: 'margin-right: var(--spacing-sm)' %>
    </legend>

    <%# Medical %>
    <%= render 'formelements/input', form: form, record: @child,
                field_name: :medicals, input_type: :textarea,
                label: 'Medikamente / Risiko' %>

    <%# Notes %>
    <%= render 'formelements/input', form: form, record: @child,
                field_name: :notes, input_type: :textarea,
                label: 'Generelle Bemerkungen' %>

  </fieldset>

  <fieldset class="input">
    <legend>
      <%= forticon :question, height: 18, style: 'margin-right: var(--spacing-sm)' %>
    </legend>
    <%# Wishmate %>
    <%= render 'formelements/input', form: form, record: @child,
                field_name: :wishmate, label: 'Wunschpartner' %>
    <p>
      Mit folgender Person möchte mein Kind nach Möglichkeit in eine Gruppe kommen.<br>
      <strong>Wichtig:</strong> Es handelt sich um ein Wunsch, nicht immer kann darauf eingegangen werden!<br>
      Bitte max. 1 Person eintragen.
    </p>
  </fieldset>

  <input type="hidden" name="child_num" value="<%= @child_num%>">

  <%= form.submit 'Weiter' %>
<% end %>
