<%= form_with(model: download) do |form| %>
  <% if download.errors.any? %>
    <div style="color: var(--red-100)">
      <h2>
        <%= pluralize(helper.errors.count, "Error hat", plural: "Errors haben") %>
        das Anlegen von dem Download verhindert:
      </h2>
    </div>
  <% end %>

  <div class="input">
    <%= form.label :name, 'Name', style: "display: block" %>
    <%= render 'formelements/errormsg', record: download, field: :name %>
    <%= form.text_field :name %>
  </div>

  <div class="input">
    <%= form.label :description, 'Interne Beschreibung', style: "display: block" %>
    <%= render 'formelements/errormsg', record: download, field: :description %>
    <%= form.text_field :description %>
  </div>

  <div class="input">
    <%= form.label :download_area, 'Im Downloadbereich anzeigen', style: "display: block" %>
    <%= render 'formelements/errormsg', record: download, field: :download_area %>
    <%= form.check_box :download_area %>
  </div>

  <div class="input">
    <%= form.label :file, 'Datei', style: "display: block" %>
    <%= render 'formelements/errormsg', record: download, field: :file %>
    <%= form.hidden_field :file, value: download.file.signed_id %>
    <%= form.file_field :file %>
  </div>

  <div class="submit">
    <%= form.submit %>
  </div>
<% end %>
