<div id="<%= dom_id camp %>">
  <p>
    <strong>Name:</strong>
    <%= camp.name %>
  </p>

  <p>
    <strong>Campjahr:</strong>
    <%= camp.campyear.year %>
  </p>

  <p>
    <strong>Startdatum:</strong>
    <%= camp.date_start %>
  </p>

  <p>
    <strong>Enddatum:</strong>
    <%= camp.date_end %>
  </p>

  <p>
    <strong>Jahrgang von:</strong>
    <%= camp.participants_year_start %>
  </p>

  <p>
    <strong>Jahrgang bis:</strong>
    <%= camp.participants_year_end %>
  </p>

  <p>
    <strong>Teilnehmeranzahl:</strong>
    <%= camp.max_participant_count %>
  </p>
  
  <p>
    <strong>Anmeldekosten:</strong>
    <%= camp.price %>
  </p>

</div>
