<div id="<%= dom_id camp %>">
  <p>
    <strong>Campyear:</strong>
    <%= camp.campyear.year %>
  </p>

  <p>
    <strong>Date start:</strong>
    <%= camp.date_start %>
  </p>

  <p>
    <strong>Date end:</strong>
    <%= camp.date_end %>
  </p>

  <p>
    <strong>Participants year start:</strong>
    <%= camp.participants_year_start %>
  </p>

  <p>
    <strong>Participants year end:</strong>
    <%= camp.participants_year_end %>
  </p>

  <p>
    <strong>Max participant count:</strong>
    <%= camp.max_participant_count %>
  </p>

</div>
