<%= form_with(model: camp, url: url) do |form| %>
  <% if camp.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(camp.errors.count, "error") %> prohibited this camp from being saved:</h2>

      <ul>
        <% camp.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input">
    <%= form.hidden_field :campyear_id %>
  </div>

  <div class="input">
    <%= form.label :date_start, style: "display: block" %>
    <%= form.date_field :date_start %>
  </div>

  <div class="input">
    <%= form.label :date_end, style: "display: block" %>
    <%= form.date_field :date_end %>
  </div>

  <div class="input">
    <%= form.label :participants_year_start, style: "display: block" %>
    <%= form.number_field :participants_year_start %>
  </div>

  <div class="input">
    <%= form.label :participants_year_end, style: "display: block" %>
    <%= form.number_field :participants_year_end %>
  </div>

  <div class="input">
    <%= form.label :max_participant_count, style: "display: block" %>
    <%= form.number_field :max_participant_count %>
  </div>

  <div class="submit">
    <%= form.submit %>
  </div>
<% end %>
