<h1>Admin#dashboard</h1>

<h2>Allgemein</h2>
<%= link_to "Nachrichten (#{@unread_messages})", messages_path %>
<br>
<%= link_to 'Seiten', pages_path %>
<br>
<%= link_to 'Teams', teams_path %>
<br>
<%= link_to 'Termine', events_path %>
<br>
<%= link_to 'Downloads', downloads_admin_path %>
<br>
<br>
<h2>Camp zusammenhängend</h2>
<%= link_to 'Campjahr', campyears_path %>
<br>
<%= link_to "Mitarbeiter (#{@helper_count})", helpers_path %>
<br>
<%= link_to "Kinder (#{@child_count})", children_path %>
