<h1>Admin#dashboard</h1>

<h2>Allgemein</h2>
<%= link_to 'Termine', events_path %>
<br>
<%= link_to 'Nachrichten', messages_path %>
<br>
<%= link_to 'Seiten', pages_path %>
<br>
<br>
<h2>Camp zusammenhängend</h2>
<%= link_to 'Campjahr', campyears_path %>
<br>
<%= link_to 'Teams', teams_path %>
