<hgroup>
<h1>Developer space</h1>
<p>Showcase of various design elements</p>
</hgroup>

<br>

<h2>Typography</h2>

<div>
  <% 1.upto(6).each do |i| %>
  <h<%= i %>>h<%= i %> - Text</h<%= i %>>
  <% end %>
</div>

<h2>Colors</h2>
<div style="display: flex; gap: 1rem; flex-direction: column;">
  <% ["gray", "blue", "red"].each do |color| %>
  <div>
    <h3><%= color %></h3>
    <div style="display:flex;">
      <div style="display: inline-block; height: 2rem; width: 1.5rem; background-color: var(<%= '--' + color %>-100);"></div>
      <div style="display: inline-block; height: 2rem; width: 1.5rem; background-color: var(<%= '--' + color %>-200);"></div>
      <div style="display: inline-block; height: 2rem; width: 1.5rem; background-color: var(<%= '--' + color %>-300);"></div>
      <div style="display: inline-block; height: 2rem; width: 1.5rem; background-color: var(<%= '--' + color %>-400);"></div>
      <div style="display: inline-block; height: 2rem; width: 1.5rem; background-color: var(<%= '--' + color %>-500);"></div>
      <div style="display: inline-block; height: 2rem; width: 1.5rem; background-color: var(<%= '--' + color %>-600);"></div>
    </div>
  </div>
  <% end %>
</div>

<br>
<br>
<h2>Design elements</h2>

<br>
<h3>hgroup</h3>
<br>
<hgroup>
  <h1>A larger header</h1>
  <h5>With a smaller explaining title</h5>
</hgroup>

<h3>articles</h3>
<article>
  <h4>these small things</h4>
  <p>which are card like and have a nice background shadow effekt</p>
</article>

<turbo-frame id='radio-groups'>
  <h3>Radio Groups</h3>
  <form action="" method="get">
    <div class="radio-group">
      <label class="radio-group__button">
        <input class="radio-group__input" type=radio name=rtest value=r1 checked onclick="this.closest('form').requestSubmit()">
        <span class=radio-group__label>b1</span>
      </label>


      <label class="radio-group__button">
        <input class="radio-group__input" type=radio name=rtest value=r2 onclick="this.closest('form').requestSubmit()">
        <span class=radio-group__label>b2</span>
      </label>
    </div>
  </form>
</turbo-frame>
