<%= link_to '< Startseite', root_path %>
<h1>Login</h1>

<%= form_tag do |form| %>
  <% if @current_user.has_read_rights %>
    <p>You are already loggin in!</p>
  <% end %>

  <% if @error %>
    <p style="color: red;">Login failed, please try again!</p>
  <% end %>

  <div>
    <%= label_tag 'user_name', 'Username', style: "display: block" %>
    <%= text_field 'user', 'name' %>
  </div>

  <div>
    <%= label_tag 'user_password', 'Password', style: "display: block" %>
    <%= password_field 'user', 'password' %>
  </div>

  <div>
    <%= submit_tag 'Anmelden' %>
  </div>
<% end %>

