<h1><%= t 'parent.form-title' %></h1>
<h2><%= t '.title' %></h2>

<%= render 'children/child_registration_step', steps: 5, current_step: 0 %>

<%= form_with model: @parent_name do |form| %>
  <fieldset class="input">
    <legend>
      <%= forticon :user, height: 18, style: 'margin-right: var(--spacing-sm)' %>
    </legend>

    <% [{field: :forename, label: t('.forename')}, {field: :surname, label: t('.surname')}].each do |input| %>
      <div class="formelement">
        <label for="<%= input[:field] %>" class="formelement__label"><%= input[:label] %></label>

        <input
          id="<%= input[:field] %>"
          type="text"
          name="parent_name[<%= input[:field] %>]"
          class="formelement__input"
          value="<%= @parent_name.public_send input[:field] %>"
          onchange="clearFormerror(this)">

        <% unless @parent_name.errors[input[:field]].empty? %>
          <span class="formelement__error">
            <%= forticon 'circle-exclamation', height: 16 %>
            <%= @parent_name.errors[input[:field]].first %>
          </span>
        <% end %>
      </div>
    <% end %>
    <%= render 'formelements/checkbox', record: @parent_name,
      model: 'parent_name',
      field: 'member',
      checked: @parent_name.member,
      text: t('.member') %>
  </fieldset>

  <%= form.submit 'Weiter' %>
<% end %>
