<div id="<%= dom_id registration %>">
  <p>
    <strong>Camp <%= registration.camp.participants_year_start %> - <%= registration.camp.participants_year_end %></strong>
  </p>

  <p>
    <span>Erstwunsch:</span>
    <%= registration.wish_first %>
  </p>

  <p>
    <span>Zweitwunsch:</span>
    <%= registration.wish_second %>
  </p>
</div>

