<style>
.child-registration-info__table {
  width: 100%;
  text-align: left;

  tr > * {
    border-radius: var(--border-radius);
    padding: 0.2rem;
  }
}

.child-registration-info__tr:nth-child(even) {
  background-color: var(--blue-opacity);
}

.child-registration-info_camp-header {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  margin: 0;
}

.child-registration-info:not(:first-child) > .child-registration-info_camp-header {
  padding-top: 2rem;
}

.child-registartion-info_register-btn {
  margin-top: 3rem;
}
</style>

<div>
  <h1>Kinderanmeldung</h1>
  <div>
    <% @camps.each do |c| %>
      <div class="child-registration-info">
      <h3 class="child-registration-info_camp-header"><%= forticon :campground, height: 20 %> Camp <%= c.name %> </h3>
        <table class="child-registration-info__table">
          <tr class="child-registration-info__tr">
            <th>Startdatum</th>
            <td><%= c.date_start.strftime '%d.%m.%Y' %></td>
          </tr>

          <tr class="child-registration-info__tr">
            <th>Enddatum</th>
            <td><%= c.date_end.strftime '%d.%m.%Y' %></td>
          </tr>

          <tr class="child-registration-info__tr">
            <th>Jahrgang von</th>
            <td><%= c.participants_year_start %></td>
          </tr>

          <tr class="child-registration-info__tr">
            <th>Jahrgang bis</th>
            <td><%= c.participants_year_end %></td>
          </tr>

          <tr class="child-registration-info__tr">
            <th>Anmeldekosten</th>
            <td><%= c.price %>€</td>
          </tr>

          <tr class="child-registration-info__tr">
            <th>Offene Plätze</th>
            <td><%= [c.open_count, 0].max %></td>
          </tr>
        </table>
      </div>
    <% end %>
  </div>

  <% if !@campyear.full? %>
    <%= link_to 'Zur Anmeldung', new_parent_name_path, class: "button child-registartion-info_register-btn" %>
  <% end %>
</div>
