<style>
    .registration-ack  {
        width: 100%;
    }
</style>
<h1><%= t 'parent.form-title' %></h1>
<h2><%= t '.title' %></h2>

<%= form_with class: 'registration-ack', model: @parent do |form| %>
  <h3><%= forticon :user, height: 20 %> Elterninfos</h3>
  <%= render 'parent/parent-info-table', parent: @parent %>

  <%= link_to 'Ändern', new_parent_name_path, style: 'text-decoration: underline; margin: .5rem 0 2rem' %>

  <h3><%= forticon :children, height: 20 %> Kinderinfos</h3>
  <% @parent.children.each_with_index do |child, index| %>
    <%= render 'children/child-info-table', child: child, index: index %>
    <%= link_to 'Ändern', new_child_path(child_num: index), style: 'text-decoration: underline; margin: .5rem 0 2rem' %>
  <% end %>

  <br>
  <%= render "formelements/dialog-checkbox", form_name: :liability_exclusion,
      label_text: "Ich habe den Haftungsausschluss gelesen und bin damit einverstanden",
      form: form do %>
    <%= raw Page.where(url: 'eltern_haftungsausschluss').first.content %>
  <% end %>

  <br>
  <%= render "formelements/dialog-checkbox", form_name: :important_information,
      label_text: "Ich habe den Wichtigen Informationen gelesen und bin damit einverstanden",
      form: form do %>
    <%= raw Page.where(url: 'eltern_wichtige-informationen').first.content %>
  <% end %>

  <br>
  <%= render "formelements/dialog-checkbox", form_name: :important_information,
      label_text: "Ich habe die geltenden Stornierungsregeln zur Kenntnis genommen",
      form: form do %>
    <%= raw Page.where(url: 'stornierungsregeln').first.content %>
  <% end %>

  <br>
  <%= render 'formelements/input', form: form, record: @parent,
      field_name: :data_protection, label: '', input_type: :checkbox_required,
      required: true do %>
    Ich akzeptiere die <%= link_to "Datenschutzbestimmungen", page_path("datenschutz"), style: 'display: contents; margin: 0; margin-left: .2rem; padding: 0; line-height: 1.2rem;'%>
  <% end %>

  <br>
  <%= render 'formelements/input', form: form, record: @parent,
      field_name: :photo_rights, input_type: :checkbox_required, required: true,
      label: 'Einwilligung zur Verwendung / Veröffentlichung von Foto- und Videomaterial' %>

  <br>
  <p><%= t '.info-verification-email' %></p>

  <%= form.submit t('.button-register') %>
<% end %>
