<header
  class="container-fluid position-relative"
  style="background-image: url('/images/bg.jpg'); background-position: center; background-size: cover; padding-top: 7rem">

  <a href="<%= root_path %>" class="d-block m-auto" style="width: 15rem;">
    <%= image_tag '/images/logo.png',
                  class: 'rounded-circle shadow-lg',
                  style: 'width: 100%',
                  srcset: {
                    '/images/logo-sm.png': '640w',
                    '/images/logo-md.png': '1024w'
                  },
                  sizes: '100vw',
                  alt: 'logo',
                  id: 'logo',
                  data: { turbo_permanent: true } %>
  </a>

  <div class="text-center py-5">
    <div class="bg-light bg-opacity-50 rounded-3 m-0 p-0 container">
      <h1 class="fw-bold display-3 text-center rounded-3 p-1" style="backdrop-filter: blur(1px); color: transparent; background: linear-gradient(95deg, #5e7b58, #116311, #163d0e); background-clip: text;">
        Abenteuer Leben
      </h1>
    </div>
    <h2 class="text-light" style="text-shadow: 0 0 12px #000000aa">Sommercamps für Kinder und Teens</h2>
  </div>

  <div class="row bg-white" style="min-height: 4rem; padding: 5rem 2rem; border-radius: 50% 50% 0 0;"></div>
</header>

<main class="container">
  <nav>
    <ul class="list-group list-group-flush">
      <% if @helpers_open %>
        <li class="list-group-item d-flex align-items-center">
          <%= link_to new_helper_path, style: 'font-weight: bold; color: #967159; fill: #967159;', class: "d-flex align-items-center" do %>
            <%= forticon 'angle-right', height: 18, class: 'me-2' %>Mitarbeiteranmeldung
          <% end %>
        </li>
      <% end %>
      <% if participant_registrations_open %>
        <li class="list-group-item">
          <a href="/kinderanmeldung" style="font-weight: bold; color: #967159; fill: #967159;" class="d-flex align-items-center">
            <%= forticon 'angle-right', height: 18, class: 'me-2' %>Kinderanmeldung
          </a>
        </li>
      <% end %>
      <li class="list-group-item">
        <a href="#wer-wir-sind" class="d-flex align-items-center">
          <%= forticon 'angle-right', height: 18, class: 'me-2' %>Wer wir sind
        </a>
      </li>
      <li class="list-group-item">
        <a href="#was-wir-machen" class="d-flex align-items-center">
          <%= forticon 'angle-right', height: 18, class: 'me-2' %>Was wir machen
        </a>
      </li>
      <li class="list-group-item">
        <a href="#termine" class="d-flex align-items-center">
          <%= forticon 'angle-right', height: 18, class: 'me-2' %>Termine
        </a>
      </li>
      <li class="list-group-item">
        <a href="#kontakt" class="d-flex align-items-center">
          <%= forticon 'angle-right', height: 18, class: 'me-2' %>Kontakt
        </a>
      </li>
      <li class="list-group-item">
        <%= link_to downloads_path class: "d-flex align-items-center" do %>
          <%= forticon 'angle-right', height: 18, class: 'me-2' %>
          Downloads
        <% end %>
      </li>
      <li class="list-group-item">
        <a href="/pages/spenden" class="d-flex align-items-center">
          <%= forticon 'angle-right', height: 18, class: 'me-2' %>Spenden / Unterstützen
        </a>
      </li>
    </ul>
  </nav>

  <br>
  <hr>
  <br>

  <div class="about d-flex flex-column gap-3">
    <article class="card" id="wer-wir-sind">
      <div class="card-header d-flex justify-content-center">
        <%= forticon 'people-line', height: 32, style: 'fill: var(--gray-200)' %>
      </div>
      <div class="card-body">
        <h2 class="card-title text-center">
          Wer wir sind
        </h2>
        <p class="card-text">
          Wir sind eine Gruppe motivierter Christen, die biblische Werte und Prinzipien vertreten und diese gemeinsam
          mit der heranwachsenden Generation ausleben möchten.
          <br>
          Ein Team ehrenamtlicher Mitarbeiter macht es sich zur Aufgabe, zwei Wochen Ferienzeit zu einem interessanten
          und außergewöhnlichen Erlebnis zu gestalten!
        </p>
      </div>
    </article>

    <article class="card" id="was-wir-machen">
      <div class="card-header d-flex justify-content-center">
        <%= forticon :briefcase, height: 32, style: 'fill: var(--gray-200)' %>
      </div>
      <div class="card-body">
        <h2 class="card-title text-center">Was wir machen</h2>
        <p class="card-text">
          Unsere Camps bieten eine gute Möglichkeit, eine Woche lang zusammen zu sein, gute Gemeinschaft zu erleben,
          miteinander in der Bibel zu forschen, zu beten, Jesus Christus persönlich zu begegnen, persönliche Gespräche
          zu führen und neue Freunde kennenzulernen.
          <br>
          Auf den Sommercamps sollen junge Menschen die Möglichkeit haben, christlichen Glauben zu leben, zu vertiefen,
          bzw. diesen ganz neu kennenzulernen.
        </p>
      </div>
    </article>
  </div>

  <div id="termine" class="mt-5">
    <div class="d-flex justify-content-center">
      <% if @events.length == 0 %>
        <%= forticon 'calendar', height: 32, style: 'fill: var(--gray-200)' %>
      <% else %>
        <%= forticon 'calendar-day', height: 32, style: 'fill: var(--gray-200)' %>
      <% end %>
    </div>
    <h2 class="text-center">Termine</h2>
    <div>
      <% if @events.length == 0 %>
        <div class="termine--empty">
      <span>
        Derzeit stehen keine Termine an
      </span>
        </div>
      <% end %>

      <div>
        <% @events.each do |event| %>
          <%= render 'events/event', event: event %>
        <% end %>
      </div>
    </div>
  </div>
</main>

<div class="bg-dark">
  <div class="bg-white" style="min-height: 4rem; padding: 3rem 2rem; border-radius: 0 0 50% 50%;"></div>

  <div id="kontakt" class="container py-5 text-light">
    <div class="d-flex justify-content-center">
      <%= forticon 'envelope', height: 32, style: 'fill: #fafafa' %>
    </div>
    <h2 class="text-center">Kontakt</h2>
    <%= render 'messages/form', message: @message %>
  </div>
</div>
