<div class="toast show w-100" id="<%= dom_id event %>">
  <div class="toast-header">
    <%= forticon 'calendar-days', height: 16, class: 'me-2' %>
    <strong class="me-auto"><%= event.title %></strong>
    <small>
      <% unless event.end_date %>
        <span><%= l event.start_date %></span>
      <% else %>
        <span><%= l event.start_date %> - <%= l event.end_date %></span>
      <% end %>
    </small>
  </div>
  <% if event.description %>
  <div class="toast-body">
    <%= event.description %>
    <%= yield %>
  </div>

  <% end %>
  <% if event.link and !event.link.empty? %>
    <p>
      <span>Link:</span>
      <%= link_to event.link, event.link, target: :blank %>
    </p>
  <% end %>
</div>
