<div style="display: flex; align-items: center; gap: 1rem;">
  <div style="display: block; width: 1rem; height: 1rem; background-color: var(--primary); border-radius: var(--border-radius);"></div>

  <article id="<%= dom_id event %>" style="padding: 2rem; margin: 0.4rem 0; max-width: calc(100% - 2rem);">
    <div style="color: var(--gray-300);">
      <i class="fa-solid fa-calendar-days"></i>
      <% unless event.end_date %>
        <span><%= l event.start_date %></span>
      <% else %>
        <span><%= l event.start_date %> - <%= l event.end_date %></span>
      <% end %>
    </div>

    <strong style="font-size: 1.2rem; margin: .7rem 0; display: block;"><%= event.title %></strong>

    <% if event.description %>
      <p>
        <%= event.description %>
      </p>
    <% end %>

    <% if event.link and !event.link.empty? %>
      <p>
        <span>Link:</span>
        <%= link_to event.link, event.link, target: :blank %>
      </p>
    <% end %>

    <%= yield %>

  </article>
</div>
