<style>
.form-input {
  margin: 1rem 0;
}

.form-input__label {
  display: flex;
}

.form-input__required {
  margin-top: 0.1rem;
  margin-left: var(--spacing-sm);
  display: flex;
}

.form-input__date-wrapper {
  display: grid;
  grid-template-columns: 2fr 3fr 3fr;
  gap: var(--spacing-sm);
}

.form-input__text-area {
  resize: none;
}

.form-input .field_with_errors > .form-input__text-field,
.form-input .field_with_errors > .form-input__date-field,
.form-input .field_with_errors > .form-input__text-area {
  border-color: var(--danger);
}
</style>

<%# arguments(input_type, form, record, field_name, label, required) %>
<div class="form-input">
  <% unless (defined? input_type) && (input_type == :checkbox || input_type == :checkbox_required) %>
    <%# label %>
    <%= form.label field_name,  class: class_names('form-input__label') do %>
      <%= defined?(label) ? label : '' %>
      <%= yield %>
      <% if defined? required %>
        <div class="form-input__required">
          <%= forticon :asterisk, height: 8 %>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <%# input element %>
  <% if not defined? input_type %>
    <%= form.text_field field_name, class: class_names('form-input__text-field') %>
  <% else %>
    <% case input_type %>
    <% when :telephone %>
      <%= form.telephone_field field_name, class: class_names('form-input__text-field') %>
    <% when :email %>
      <%= form.email_field field_name, class: class_names('form-input__text-field') %>
    <% when :number %>
      <%= form.number_field field_name, class: class_names('form-input__text-field') %>
    <% when :date %>
      <div class="form-input__date-wrapper">
      <%= form.date_select field_name, start_year: 1970, end_year: DateTime.now.year - 6, default: Date.new(DateTime.now.year - 18,01,01), class: class_names('form-input__date-field') %>
      </div>
    <% when :textarea %>
      <%= form.text_area field_name, rows: 7, class: 'form-input__text-area' %>
    <% when :checkbox %>
      <label class="input" style="display: flex; gap: var(--spacing-sm); align-items: center;">
        <%= form.check_box field_name, style: 'display inline-block' %>
        <span style="display: flex;">
          <%= label %>
          <%= yield %>
          <% if defined? required %>
            <div class="form-input__required">
              <%= forticon :asterisk, height: 8 %>
            </div>
          <% end %>
        </span>
      </label>
    <% when :checkbox_required %>
      <label class="input" style="display: flex; gap: var(--spacing-sm); align-items: center;">
        <%= form.check_box field_name, style: 'display inline-block', required: true %>
        <span style="display: flex;">
          <%= label %>
          <%= yield %>
          <% if defined? required %>
            <div class="form-input__required">
              <%= forticon :asterisk, height: 8 %>
            </div>
          <% end %>
        </span>
      </label>
    <% end %>
  <% end %>

  <%# errormsg %>
  <%= render 'formelements/errormsg', record: record, field: field_name %>
</div>
