<style>
  .container {
    background: linear-gradient(45deg, var(--transparent), var(--transparent), color-mix(in srgb, var(--primary) 5%, transparent), var(--transparent), var(--transparent)) no-repeat border-box,
                linear-gradient(-45deg, var(--transparent), var(--transparent), color-mix(in srgb, var(--primary) 5%, transparent), var(--transparent), var(--transparent)) no-repeat border-box;
  }
</style>

<%= form_with(model: helper, class: 'helper-form') do |form| %>
  <% if helper.errors.any? %>
    <div>
      <h2 style="color: var(--danger)">
        <%= pluralize(helper.errors.count, "Error hat", plural: "Error haben") %> das Anmelden verhindert
      </h2>

<!--
      <ul>
        <% helper.errors.each do |error| %>
          <li><%= error.message %></li>
        <% end %>
      </ul>
-->
    </div>
  <% end %>

  <fieldset class="input">
    <legend>
      <i class="fa-solid fa-user" style="margin-right: var(--spacing-sm);"></i>
      Persönliche Daten
    </legend>

    <% if defined? edit_photo || !helper.photo.attached? %>
      <div>
        <%= form.label :photo, "Ein Foto von dir" %>
        <%= form.file_field :photo, accept: 'image/png,image/jpeg,image/webp',
          required: true, data: {'turbo-permanent': true}, onchange: 'squashImageFile(this)' %>
      </div>
    <% end %>

    <%= render 'formelements/input', form: form, record: helper, field_name: :surname, label: 'Nachname' %>
    
    <%= render 'formelements/input', form: form, record: helper, field_name: :forename, label: 'Vorname' %>
    
    <%= render 'formelements/input', form: form, record: helper, field_name: :birthday, label: 'Geburtstag', input_type: :date %>

    <%= render 'formelements/input', form: form, record: helper, field_name: :birthplace, label: 'Geburtsort' %>

    <%= render 'formelements/input', form: form, record: helper, field_name: :telephone, label: 'Telefonnummer', input_type: :telephone %>

    <%= render 'formelements/input', form: form, record: helper, field_name: :email, label: 'Email', input_type: :email %>

    <%= render 'formelements/input', form: form, record: helper, field_name: :streethouse, label: 'Straße und Hausnummer' %>

    <%= render 'formelements/input', form: form, record: helper, field_name: :postcity, label: 'Postleitzahl und Stadt' %>
  </fieldset>

  <fieldset class="input">
    <legend>
      <i class="fa-solid fa-cross" style="margin-right: var(--spacing-sm);"></i>
      Geistliches Wachstum
    </legend>

    <%= render 'formelements/input', form: form, record: helper, field_name: :story, label: 'Wie hast du zu Gott gefunden?', input_type: :textarea %>

    <%= render 'formelements/input', form: form, record: helper, field_name: :duty, label: 'Hast du einen Dienst in der Gemeinde/Jugend? Wenn ja welche(n)?' %>
  </fieldset>

  <fieldset class="input">
    <legend>
      <i class="fa-solid fa-book" style="margin-right: var(--spacing-sm);"></i>
      Teamkatalog
    </legend>
    <%= render 'teams/catalogue', teams: @teams, selected_team: @teams.first %>
  </fieldset>
  
  <% if helper.errors.key? :participation %>
    <br>
    <br>
    <%= render 'formelements/errormsg', record: helper, field: :participation %>
  <% end %>
  
  <div class="input">
    <%= form.fields_for :registrations do |fields| %>
      <fieldset class="input" data-controller="helperregistration" data-helperregistration-target="root">
        <legend>
          <i class="fa-solid fa-campground" style="margin-right: var(--spacing-sm);"></i>
          Camp <%= fields.object.camp.name %>
        </legend>

        <%= render 'formelements/errormsg', record: fields.object, field: :duplicate_team %>

        <p>
          Jahrgänge: <%= fields.object.camp.participants_year_start %> - <%= fields.object.camp.participants_year_end %>
        </p>
        <p>
          Datum: <%= l fields.object.camp.date_start %> - <%= l fields.object.camp.date_end %>
        </p>

        <%= fields.hidden_field :id %>
        <%= fields.hidden_field :camp_id %>
        <div class="input" style="display: flex; gap: var(--spacing-sm); align-items: center;">
          <%= fields.check_box :participate, class: 'helper-registration__checkbox', data: { 'helperregistration-target': 'checkbox', action: 'click->helperregistration#toggleRegistration' } %>
          <%= fields.label :participate, "An diesem Camp teilnehmen" %>
        </div>
        <br>
        <div class="helper-registration__inputs helper-registration__inputs--disabled">
          <div>
            <%= fields.label :wish_first, "Erstwunsch:" %>
            <%= fields.select :wish_first, @available_teams, {}, {
              'data-helperregistration-target': 'wishFirst',
              'data-action': 'helperregistration#toggleWishFirstBox'
            } %>
            <%= fields.text_field :wish_first,
                                  value: fields.object.wish_first_box,
                                  class: class_names('helper-registration__wish-box--disabled': fields.object.wish_first != Registration::team_free_value),
                                  disabled: fields.object.wish_first != Registration::team_free_value,
                                  data: { 'helperregistration-target': 'wishFirstBox' },
                                  placeholder: "Wunsch bitte hier eingeben",
                                  required: true
            %>
          </div>

          <div>
            <%= fields.label :wish_second, "Zweitwunsch:" %>
            <%= fields.select :wish_second, @available_teams, {}, {
              'data-helperregistration-target': 'wishSecond',
              'data-action': 'helperregistration#toggleWishSecondBox'
            } %>
            <%= fields.text_field :wish_second,
                                  value: fields.object.wish_second_box,
                                  class: class_names('helper-registration__wish-box--disabled': fields.object.wish_second != Registration::team_free_value),
                                  disabled: fields.object.wish_second != Registration::team_free_value,
                                  data: { 'helperregistration-target': 'wishSecondBox' },
                                  placeholder: "Wunsch bitte hier eingeben",
                                  required: true
            %>
          </div>
        </div>
      </fieldset>
    <% end %>
  </div>

    <%= render 'formelements/input',
               form: form,
               record: helper,
               field_name: :preferredCamp,
               label: 'Falls sich zu viele Mitarbeiter anmelden und du deshalb nur auf ein Camp mitmachen kannst, welches würdest du bevorzugen?' %>
              
<!--
  <div class="input">
    <%= form.label :preferredCamp, "Falls sich zu viele Mitarbeiter anmelden und du deshalb nur auf ein Camp mitmachen kannst, welches würdest du bevorzugen?" %>
    <%= form.text_field :preferredCamp %>
  </div>
-->

  <br><br>
  <%= render "formelements/dialog-checkbox", form_name: :liability_exclusion, label_text: "Ich habe den Haftungsausschluss gelesen und bin damit einverstanden", form: form do %>
    <%= raw Page.where(url: 'mitarbeiter_haftungsausschluss').first.content %>
  <% end %>

  <br>
  <%= render "formelements/dialog-checkbox", form_name: :important_information, label_text: "Ich habe den Wichtigen Informationen gelesen und bin damit einverstanden", form: form do %>
    <%= raw Page.where(url: 'mitarbeiter_wichtige-infos').first.content %>
  <% end %>

  <br>
  <div class="submit">
    <%= form.submit "Verbindlich und zahlungspflichtig anmelden" %>
  </div>
<% end %>
