<%= form_with(model: helper) do |form| %>
  <% if helper.errors.any? %>
    <div style="color: red">
      <h2>
        <%= pluralize(helper.errors.count, "Error hat", plural: "Errors haben") %>
        das Anmelden verhindert:
      </h2>

      <ul>
        <% helper.errors.each do |error| %>
          <li><%= error.message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset class="input">
    <legend>Persönliche Daten</legend>

    <div class="input">
      <%= form.label :surname, "Nachname" %>
      <%= form.text_field :surname, required: true %>
    </div>

    <div class="input">
      <%= form.label :forename, "Vorname" %>
      <%= form.text_field :forename, required: true %>
    </div>

    <div class="input">
      <%= form.label :birthday, 'Geburtstag' %>
      <%= form.date_select :birthday, start_year: 1970, end_year: DateTime.now.year - 14, required: true %>
    </div>

    <div class="input">
      <%= form.label :birthplace, 'Geburtsort' %>
      <%= form.text_field :birthplace, required: true %>
    </div>

    <div class="input">
      <%= form.label :telephone, "Telefonnummer" %>
      <%= form.telephone_field :telephone, required: true %>
    </div>

    <div class="input">
      <%= form.label :email, "E-Mail" %>
      <%= form.email_field :email, required: true %>
    </div>

    <div class="input">
      <%= form.label :streethouse, "Straße und Hausnummer" %>
      <%= form.text_field :streethouse, required: true %>
    </div>

    <div class="input">
      <%= form.label :postcity, "Postleitzahl und Stadt" %>
      <%= form.text_field :postcity, required: true %>
    </div>
  </fieldset>

  <fieldset class="input">
    <legend>(titel noch nicht entschieden)</legend>

    <div class="input">
      <%= form.label :story, "Wie hast du zu Gott gefunden?" %>
      <%= form.text_area :story, required: true, rows: 7 %>
    </div>

    <div class="input">
      <%= form.label :duty, "Hast du ein Dienst in der Gemeinde/Jugend? Wenn ja welche(n)?" %>
      <%= form.text_field :duty %>
    </div>
  </fieldset>

  <fieldset class="input">
    <legend>Teamkatalog</legend>
    <%= render 'teams/catalogue', teams: @teams, selected_team: @teams.first %>
  </fieldset>

  <div class="input">
    <%= form.fields_for :registrations do |fields| %>
      <fieldset class="input" data-controller="helperregistration" data-helperregistration-target="root">
        <legend>
          Camp <%= fields.object.camp.participants_year_start %> - <%= fields.object.camp.participants_year_end %>
        </legend>

        <p>
          Datum: <%= l fields.object.camp.date_start %> - <%= l fields.object.camp.date_end %>
        </p>

        <%= fields.hidden_field :id %>
        <%= fields.hidden_field :camp_id %>
        <div class="input" style="display: flex; gap: var(--spacing-sm); align-items: center;">
          <%= fields.check_box :participate, data: { 'helperregistration-target': 'checkbox', action: 'click->helperregistration#toggleRegistration' } %>
          <%= fields.label :participate, "An diesem Camp teilnehmen" %>
        </div>
        <br>
        <div class="helper-registration__inputs helper-registration__inputs--disabled">
          <div>
            <%= fields.label :wish_first, "Erstwunsch:" %>
            <%= fields.select :wish_first, @available_teams, {}, {
              'data-helperregistration-target': 'wishFirst',
              'data-action': 'helperregistration#toggleWishFirstBox'
            } %>
            <%= fields.text_field :wish_first,
              value: fields.object.wish_first_box,
              class: class_names('helper-registration__wish-box--disabled': fields.object.wish_first != Registration::team_free_value),
              disabled: fields.object.wish_first != Registration::team_free_value,
              data: { 'helperregistration-target': 'wishFirstBox' },
              placeholder: "Wunsch bitte hier eingeben"
            %>
          </div>

          <div>
            <%= fields.label :wish_second, "Zweitwunsch:" %>
            <%= fields.select :wish_second, @available_teams, {}, {
              'data-helperregistration-target': 'wishSecond',
              'data-action': 'helperregistration#toggleWishSecondBox'
            } %>
            <%= fields.text_field :wish_second,
              value: fields.object.wish_second_box,
              class: class_names('helper-registration__wish-box--disabled': fields.object.wish_second != Registration::team_free_value),
              disabled: fields.object.wish_second != Registration::team_free_value,
              data: { 'helperregistration-target': 'wishSecondBox' },
              placeholder: "Wunsch bitte hier eingeben"
            %>
          </div>
        </div>
      </fieldset>
    <% end %>
  </div>

  <br><br>
  <%= render "formelements/dialog-checkbox", form_name: :liability_exclusion, label_text: "Ich habe den Haftungsausschluss gelesen und bin damit einverstanden", form: form do %>
    <%= raw Page.where(url: 'mitarbeiter_haftungsausschluss').first.content %>
  <% end %>

  <br>
  <%= render "formelements/dialog-checkbox", form_name: :important_information, label_text: "Ich habe den Wichtigen Informationen gelesen und bin damit einverstanden", form: form do %>
    <%= raw Page.where(url: 'mitarbeiter_wichtige-infos').first.content %>
  <% end %>

  <br>
  <div class="submit">
    <%= form.submit "Anmelden" %>
  </div>
<% end %>
