<div>
  <%= render_breadcrumbs %>
</div>

<style>
  .helper-text-link {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .helper-text-link__image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: var(--spacing-sm);
    width: 28px;
    height: 28px;
  }
</style>

<h1>Mitarbeiter</h1>

<%= form_with url: helpers_path, method: :get do |form| %>
  <label for="year">Campjahr</label>
  <select name="year" onchange="this.parentNode.requestSubmit()">
    <% @campyears.each do |campyear| %>
      <option <%= 'selected' if @year == campyear %> value="<%= campyear %>">
        <%= campyear %>
      </option>
    <% end %>
  </select>
<% end %>
<br>
<br>

<div id="helpers">
  <% @helpers.each do |helper| %>
    <%= render 'helpers/table-link', helper: helper %>
  <% end %>
</div>

<br>
<%= link_to new_helper_path, class: '--bordered' do %>
  <%= forticon 'user-plus', height: 18, style: "margin-right: var(--spacing-sm)" %>
  Manuell Mitarbeiter hinzufügen
<% end %>
<br>
<%= link_to excel_helpers_path(format: "xlsx"), class: '--bordered' do %>
  <%= forticon 'file-excel', height: 18, style: "margin-right: var(--spacing-sm); color: green" %>
  Mitarbeiterliste als Excel herunterladen
<% end %>

