<style>
.child-registration-info__table {
  width: 100%;
  text-align: left;
}

.child-registration-info__tr:nth-child(even) {
  background-color: #e0e0e0;
}

.child-registration-info_camp-header {
  text-align: center;
  padding-bottom: 1rem;
  margin: 0;
}

.child-registration-info:not(:first-child) > .child-registration-info_camp-header {
  padding-top: 2rem;
}

.child-registartion-info_register-btn {
  margin-top: 3rem; } </style> <div> <h1>Kinderanmeldung</h1> <h2>Campinfos</h2> <div> <% @campyear.camps.each do |c| %> <div class="child-registration-info"> <h3 class="child-registration-info_camp-header"> Camp <%= c.name %> </h3> <table class="child-registration-info__table"> <tr class="child-registration-info__tr">
            <th>Startdatum</th>
            <td><%= c.date_start.strftime '%d.%m.%Y' %></td>
          </tr>

          <tr class="child-registration-info__tr">
            <th>Enddatum</th>
            <td><%= c.date_end.strftime '%d.%m.%Y' %></td>
          </tr>

          <tr class="child-registration-info__tr">
            <th>Jahrgang von</th>
            <td><%= c.participants_year_start %></td>
          </tr>

          <tr class="child-registration-info__tr">
            <th>Jahrgang bis</th>
            <td><%= c.participants_year_end %></td> </tr>
        </table>
      </div>
    <% end %>
  </div>

  <%= link_to 'Zur Anmeldung', new_child_registration_path, class: "button child-registartion-info_register-btn" %>
</div>
