
<turbo-frame id="child-registration">
  <%= form_with model: @parent, url: child_registrations_path do |form| %>
    <input type="hidden" value="<%= @stage %>" name="stage"></input>

    <% if @stage == 'base' %>
      <%= render 'formelements/input', form: form, record: @parent, field_name: :surname, label: 'Nachname' %>
      <%= render 'formelements/input', form: form, record: @parent, field_name: :forename, label: 'Vorname' %>

      <label class="input" style="display: flex; gap: var(--spacing-sm); align-items: center;">
        <%= form.check_box :member, style: 'display inline-block' %>
        <span style="">Mitglied der FECG Blomberg</span>
      </label>

      <div class="submit">
        <%= form.submit "Weiter" %>
      </div>
    <% else %>
      <%= form.hidden_field :surname %>
      <%= form.hidden_field :forename %>
      <%= form.hidden_field :member %>
    <% end %>

    <% if @stage == 'optional' %>
      <%= render 'formelements/input', form: form, record: @parent, field_name: :church, label: 'Deine angehörige Kirche' %>


      <div class="submit">
        <input type="hidden" name="last_stage" value="base">
        <%= form.submit "Zurück", name: 'back', style: 'background-color: var(--gray-500);' %>
        <%= form.submit "Weiter" %>
      </div>
    <% else %>
      <%= form.hidden_field :church %>
    <% end %>

    <% if @stage == 'address' %>
      <%= render 'formelements/input', form: form, record: @parent, field_name: :street, label: 'Straße' %>
      <%= render 'formelements/input', form: form, record: @parent, field_name: :house, label: 'Hausnummer' %>
      <%= render 'formelements/input', form: form, record: @parent, field_name: :post, label: 'Postleitzahl' %>
      <%= render 'formelements/input', form: form, record: @parent, field_name: :city, label: 'Stadt' %>


      <div class="submit">
        <input type="hidden" name="last_stage" value="optional">
        <!-- todo: does not work correctly going back to base and here again if church is manually set -->
        <%= form.submit "Zurück", name: 'back' %>
        <%= form.submit "Weiter" %>
      </div>
    <% else %>
      <%= form.hidden_field :street %>
      <%= form.hidden_field :house %>
      <%= form.hidden_field :post %>
      <%= form.hidden_field :city %>
    <% end %>

    <% if @stage == 'contact' %>
      <%= render 'formelements/input', form: form, record: @parent, field_name: :telephone, label: 'Telefonnummer' %>
      <%= render 'formelements/input', form: form, record: @parent, field_name: :housephone, label: 'Telefonnummer 2' %>
      <%= render 'formelements/input', form: form, record: @parent, input_type: :email, field_name: :email, label: 'Email' %>

      <div class="submit">
        <input type="hidden" name="last_stage" value="address">
        <%= form.submit "Zurück", name: 'back' %>
        <%= form.submit "Weiter" %>
      </div>
    <% else %>
      <%= form.hidden_field :telephone %>
      <%= form.hidden_field :housephone %>
      <%= form.hidden_field :email %>
    <% end %>

    <% if @stage == 'child_count' %>
      <%= render 'formelements/input', form: form, record: @parent, field_name: :child_count, label: 'Wie viele Kinder sollen angemeldet werden?' %>

      <div class="submit">
        <input type="hidden" name="last_stage" value="contact">
        <%= form.submit "Zurück", name: 'back' %>
        <%= form.submit "Weiter" %>
      </div>
    <% end %>

    <% if @stage == 'childish' %>
      ... weiteres folgt
    <% end %>
  <% end %>
</turbo-frame>
