<p>Hallo <%= @helper.surname %>,</p>
 
<p>
  du hast dich erfolgreich für
  <%= @helper.registrations.count > 1 ? "die Camps" : "das Camp" %>
  <%= (@helper.registrations.map {|r| r.camp.name}).join(' & ') %>
  2024 angemeldet.</br>
  Vielen Dank für dein Interesse.</br>
  Deine Anmeldung ist eingegangen.</br>
  Wir werden diese prüfen und uns bei dir nach Anmeldeschluss melden.</br>
</p>
 
<p>
  Bitte beachte folgendes:</br>
  <ul>
    <li>
      <strong>Lösche diese E-Mail nicht, da sie als Nachweis für deine Anmeldung gilt!!!</strong></br>
    </li>
    <li>
      Überweis (ab dem 01.01.2024 nicht früher) noch den Mitarbeiterbeitrag i.H.v. 60 € auf das folgende Konto:</br>
      Abenteuer Leben e.V.</br>
      DE56 4765 0130 0000 1374 55</br>
      Verwendungszweck:</br>
      Mitarbeiterbeitrag Camp 2024 für … (bitte Name ergänzen)</br>
      <sup>Wenn du an zwei Camps teilnehmen möchtest, dann musst du den Mitarbeiterbetrag nicht zweimal bezahlen!</sup></br>
    </li>
    <li>
      Info:</br>
      Für das Mitarbeiterwochenende können noch zusätzliche Kosten entstehen</br>
    </li>
    <li>
      Mit deiner Anmeldung erklärst du dich bereit, dass du dem Haftungsausschluss (verlinken) zustimmst. Solltest du diesen nicht zustimmen, so sende bitte innerhalb von 48 Stunden eine Mail mit deinem Widerruf an die Kontaktadresse des Vereins. Eine Teilnahme müssten wir in diesem Fall verwehren.</br>
    </li>
  </ul>
</p>
 
<p>
  Nach Anmeldeschluss werden wir uns einmal mit allen Mitarbeitern zu einer ersten Infoveranstaltung treffen. Weitere Details hierzu erhältst du zu gegebener Zeit.
</p>
 
<p>
  Für weitere Fragen zu deiner Anmeldung steht dir das Camp-Komitee gerne zur Verfügung.
</p
 
<p>
  Sei gesegnet!
</p>
 
<hr>
<p>
Hier noch einmal deine Anmeldedaten zum nachlesen:
</p>

<p>
  
  <u>Name</u>: <%= @helper.forename %> <%= @helper.surname %></br>
  <u>Geboren</u>: <%= l @helper.birthday %>, <%= @helper.birthplace %></br>
  <u>Wohnort</u>: <%= @helper.streethouse %>, <%= @helper.postcity %></br>
  <u>Telefonnummer</u>: <%= @helper.telephone %></br>
  <u>Email</u>: <%= @helper.email %></br>
  <u>Dein Dienst</u>: <%= @helper.duty %></br>
  <u>Deine Geschichte</u>:</br>
  <%= @helper.story %></br>
  <%= raw "<u>Bevorzugtest Camp</u>:" + @helper.preferredCamp unless @helper.preferredCamp.blank? %></br>
</p>

<p> 
Du hast dich für <%= pluralize(@helper.registrations.count, "Camp", "Camps") %> angemeldet.
</p>

<% @helper.registrations.each do |registration| %>
  <p>
    <u>Anmeldung Camp</u>: <%= registration.camp.name %></br>
    Datum des Camps: <%= l registration.camp.date_start %> - <%= l registration.camp.date_end %></br>
    Jahrgang des Camps: <%= registration.camp.participants_year_start %> - <%= registration.camp.participants_year_end %></br>
    Team Erstwunsch: <%= registration.wish_first %></br>
    Team Zweitwunsch: <%= registration.wish_second %></br>
  </p>
<% end %>
