<h1>Kinderanmeldung</h1>
<h2>Anzahl anzumeldender Kinder</h2>

<%= render 'children/child_registration_step', steps: 5, current_step: 3 %>

<%= form_with model: @parent_child_stat do |form| %>
    <fieldset class="input">
      <legend>
        <%= forticon 'address-book', height: 18, style: 'margin-right: var(--spacing-sm)' %>
      </legend>

      <%= render 'formelements/input', form: form, record: @parent_child_stat, field_name: :count, input_type: :number, label: 'Wie viele Kinder sollen angemeldet werden?', required: true %>
    </fieldset>

    <%= form.submit 'Weiter' %>
<% end %>
