<!DOCTYPE html>
<html>
  <head>
    <title>Abenteuer-Leben e.V.</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if notice %>
      <p style="padding: .4rem; color: green; text-align: center; border-bottom: 1px solid #aaa;"><%= notice %></p>
    <% end %>
    
    <main class="container">
      <%= yield %>
    </main>

    <footer>
      <div class="grid">
        <a href="/datenschutz" class="centered">Datenschutz</a>
        <a href="/impressum" class="centered">Impressum</a>
        <!-- login/logout -->
        <% if @current_user.is_admin %>
          <a href="/logout" class="centered" style="color: red">Logout</a>
        <% else %>
          <a href="/login" class="centered">Login</a>
        <% end %>
      </div>
    </footer>
  </body>
</html>
